
@{
    ViewData["Title"] = "Users";
    <script>
    $(document).ready(function () {

        $("#userTable").DataTable();

    });
    </script>

    <style>
        .glyphicon {
            width: 30px;
        }
    </style>
}


<h2 style="text-align:center">Users</h2>

<div class="row">


    <table id="userTable" class="cell-border display compact hover">

        <thead>
            <tr>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Email Address</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>A user</td>
                <td>1</td>
                <td>user@test.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>

            <tr>
                <td>test</td>
                <td>test</td>
                <td>test@me.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>admin</td>
                <td>test user</td>
                <td>test@test.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>My user</td>
                <td>1</td>
                <td>user@me.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>adm</td>
                <td>2</td>
                <td>test@test.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Admin User</td>
                <td>2</td>
                <td>admin@user.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>TestUder</td>
                <td>2</td>
                <td>test@test.co.za</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>user</td>
                <td>2</td>
                <td>test@user.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>2</td>
                <td>test@test.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>user2</td>
                <td>2</td>
                <td>user@test.co.za</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>user3</td>
                <td>user</td>
                <td>test@test.com</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>


        </tbody>

    </table>


</div>

