@model IS4Server.ViewModels.WebAPIResources

@{
    ViewData["Title"] = "Resources";

    <script>
    $(document).ready(function () {

        $("#resourceTable").DataTable();

    });
    </script>

    <style>
        .glyphicon {
            width: 30px;
        }
    </style>

}

<h2 style="text-align:center">Resources</h2>

<table id="resourceTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display Name</th>
            <th>Scopes</th>
        </tr>
    </thead>

    <tbody> 
        
        @{
            try
            {
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.DisplayName</td>
                    <td>@Model.Scope</td>
                </tr>
            }
            catch (Exception) { }
        }
            
    </tbody>
</table>


@*<div class="row">


    <table id="resourceTable" class="cell-border display compact hover">

        <thead>
            <tr>
                <th>Resource Name</th>
                <th>Display Name</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>ResourceAPI1</td>
                <td>test</td>
                <td>1</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>

            <tr>
                <td>API</td>
                <td>1</td>
                <td>1</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>test</td>
                <td>1</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>ActTest</td>
                <td>1</td>
                <td>Test 2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>ResTest</td>
                <td>2</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>MyAPI</td>
                <td>TestAPI</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>TestRes</td>
                <td>2</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>test</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Test</td>
                <td>2</td>
                <td>Res</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Resource</td>
                <td>2</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>


        </tbody>

    </table>


</div>*@

