
@{
    ViewData["Title"] = "Clients";

    <script>
    $(document).ready(function () {
        $("#clientsTable").DataTable(
            {
               
            }
                );
    });
    </script>

    <style>
        .glyphicon {
            width: 30px;
        }
       
    </style>

}

<h2 style="text-align:center">Clients</h2>

<div class="row">
    

    <table id="clientsTable" class="cell-border display compact hover">

        <thead>
            <tr>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>test</td>
                <td>1</td>
                <td>Client1</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Client1</td>
                <td>1</td>
                <td>1</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Test1</td>
                <td>1</td>
                <td>1</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Test2</td>
                <td>2</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Test2</td>
                <td>2</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Test</td>
                <td>Client 2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Test</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Client2</td>
                <td>Client</td>
                <td>2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
                </td>
            </tr>
            <tr>
                <td>Test2</td>
                <td>Test 2</td>
                <td>Test 2</td>
                <td>Enabled</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit")"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                    <a href="@Url.Action("Details")"><span class="glyphicon glyphicon-open" title="Details"></span></a>
                    <a href="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>                   
                </td>
            </tr>

           
        </tbody>

    </table>


</div>